.prices {
  display: flex;
  align-items: center;
  gap: 15px;
  &__price {
    &_solid {
      font-weight: var(--fw-bold);
      color: var(--clr-primary);
    }
    &_fake {
      font-weight: var(--fw-medium);
      color: var(--clr-gray);
      opacity: 0.8;
      text-decoration: line-through;
    }
  }
}
