.cart-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 350px;
  &__result {
    display: grid;
    width: 100%;
    gap: 30px;
    align-items: stretch;
  }
  &__link {
    margin-top: 20px;
  }
}
