.cart-calculation {
  display: grid;
  gap: 30px;
  &__info {
    display: grid;
    gap: 15px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__total-result {
    color: var(--clr-primary);
  }
  &__total {
    font-size: var(--fs-item-title);
    font-weight: var(--fw-bold);
  }
}
