@import '@/styles/tools/mixins';

.footer {
  background: var(--clr-background);
  &__action {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px 40px;
    padding-top: var(--padding-large);
    padding-bottom: var(--padding-small);
  }
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  &__link-list {
    display: flex;
    gap: 10px;
  }
  &__copy {
    text-align: center;
    padding: var(--padding-small) 0px;
    border-top: 1px solid var(--clr-gray-light);
  }
}

@include adaptation('tablet', max) {
  .footer__menu {
    align-items: center;
  }
}
